@import "../../variables.scss";

.home
{
	padding-top: $spacing-huge;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home button
{
	margin: $spacing-medium;
}
